*{
    box-sizing: border-box;
}

.header-logo img{
    width: 100px;
    height: 100px;
    border-radius: 4%;
    
}

.header-logo{
    margin-left: 30px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: -8px;
    padding-top: 12px;
}

.header-links{
    display: flex;
}

ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover{
    color: coral;
}

.hero p{
}

.hero h1{
    font-size: 48px;
    font-weight: bold;
    /* color: #e5e7eb; */
}

.hero{
    display: flex;
    color: #e5e7eb;
    background-color: #1F2937;
    margin: 0 -8px;
    justify-content: space-around;
    padding: 33px 0px;
}

.hero-img{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 67px;
}

.hero-img img {
    width: auto;
    height: 283px;
    border-radius: 4%;
    margin-left: 49px;
    margin-top: 24px;
}

.hero .left-side, .hero h1{
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: flex-start;  
}

button{
    background-color: #3882f6;
    border-radius: 10%;
    color: white;
    border: none;
    padding: 7px;
    width: 109px;
}

.info h1{
    display: flex;
    justify-content:center;
}

.image-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.info .card{
    flex: 25%;
    padding: 5px;
    align-items: center;
}

.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 4px;
}

